header {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-button {
    margin-left: auto;
}

.main-container {
    padding-bottom: 30px;
}